.component-image-slider {
	display: block;
	position: relative;
	overflow: hidden;
}

.component-image-slider > .slides {
	display: block;
	white-space: nowrap;
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 0;
	transition: left 400ms ease-in-out;
}

.component-image-slider > .slides > .slide {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	background: white;
	overflow: hidden;
}

.component-image-slider > .slides > .slide > img {
	display: block;
	height: 100%;
	width: auto;
	position: relative;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.component-image-slider .prev,
.component-image-slider .next {
	position: absolute;
	border: none;
	background: none;
	height: 40px;
	width: 40px;
	top: 50%;
	margin-top: -20px;
	font-size: 40px;
	line-height: 1;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.component-image-slider .prev {
	left: 20px;
}

.component-image-slider .next {
	right: 20px;
}

.component-image-slider .prev:hover,
.component-image-slider .next:hover {
	color: gray;
}

.component-image-slider .prev:focus,
.component-image-slider .next:focus {
	outline: 1px dotted #aaa;
}

.component-image-slider .prev:hover:focus,
.component-image-slider .next:hover:focus {
	outline: none;
}